
<%- include("partials/header"); -%>
    <h1>Home</h1>
    
    <p class="formatted-paragraph"><%= startingContent %></p>

    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    
    <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/view_post/<%=post._id%>">Read More</a>
    </p>

    <% }) %>

<%- include("partials/footer"); -%>
